<div class="container">
	<div class="appHeader">
		<div class="row">
			<div class="col-md-4"> Application Name </div>
			<div class="col-md-8">Application URL</div>
		</div>

	</div>
	<div class="appWrapper" *ngFor="let app of apps">
		<app-oneapp [appData]="app" (binClick)="onAppDeleteDialog($event)"></app-oneapp>
	</div>

	<div *ngIf="newAppFormOn" class="form-row newApp">
		<div class="newAppHeader">
			Add New Application:
		</div>
		<div class="form-group col-md-4">
			<input type="text" [(ngModel)]="newAppData.name" class="form-control" id="newAppName" name="newAppName"
				placeholder="Enter Name">
		</div>

		<div class="form-group col-md-8">
			<input type="text" [(ngModel)]="newAppData.url" class="form-control inputLine" id="newAppUrl"
				name="newAppUrl" placeholder="Enter URL">
		</div>

		<div class="saveBottom">
			<button class="btn btn-primary btn-sm save" (click)="createApp()">Save</button>
			<button class="btn btn-secondary btn-sm cancel" (click)="newAppFormControl(false)">Cancel</button>
		</div>

	</div>



	<div class="bottom">
		<div *ngIf="!newAppFormOn" class="appAdd bottomItem" (click)="newAppFormControl(true)">+</div>
		<div class="scheduler bottomItem">
			<button class="btn btn-primary browse" routerLink="/appform">New Schedule</button>
			<button class="btn btn-info browse" routerLink="/schedules">All Schedules</button>
			<button class="btn btn-info browse" routerLink="/logs">Logs</button>
		</div>
	</div>